<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HTKNumber.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2EF932151DAEC6B800028F73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EF9322E1DAEC6B800028F73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EF932391DAEC6B800028F73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
